<div class="container" id="fave-cities">
	<div class="header-wrapper">
		<h1 class="top-header">Welcome {{user.firstName}}!</h1>
		<h3>Here are your saved cities:</h3>
		<div class="row gallery-wrapper" id="saved-cities">
		</div>
	</div>
</div>
<div class="container" id="fave-city-info">
	<div class="container" id="fave-city-info-container">
	</div>
	<div class="container" id="fave-city-review">
			<label for="comment">Notes about the city:</label>
  			<textarea class="form-control" rows="5" id="saved-comment"></textarea>
  			<br>
  			<button class="btn btn-default" id="save-review" type="button">Save Note</button>
    		<button class="btn btn-default" id="remove-city" type="button">Remove</button>
    		<a href="/profile"><button class="btn btn-default" id="remove-city" type="button">Return</button></a>
	</div>
</div>